.gradient {
background: #fee5a2; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZTVhMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZGYxZGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  #fee5a2 0%, #fdf1db 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fee5a2), color-stop(100%,#fdf1db)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #fee5a2 0%,#fdf1db 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #fee5a2 0%,#fdf1db 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #fee5a2 0%,#fdf1db 100%); /* IE10+ */
background: linear-gradient(to right,  #fee5a2 0%,#fdf1db 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee5a2', endColorstr='#fdf1db',GradientType=1 ); /* IE6-8 */
}
.container {
	margin-top: 40px;
	padding-left: 25px;
	padding-right: 25px;
}
.container .jumbotron { border-radius: 0px;}
.jumbotron {
  border: solid #cc3333 10px;
}
